<h1>Menú hospitales Api</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Hospitales"
            asp-action="Cliente">
            Client Request
        </a>
    </li>
</ul>